<script src="/vendor/laravel-filemanager/js/lfm.js"></script>
<div class="panel-heading">
    <form ng-submit="submitBlog()" method="post" id="createBlog" name="form" novalidate>
        <div class="form-group">
            <label>Blog Title</label>
            <input type="text" placeholder="Blog Title" required="required" minlength="40" maxlength="100"
                   class="form-control" name="title" ng-modal="title">
        </div>
        <div class="form-group">
            <label>Blog Category</label>
            <select class="form-control" name="category" ng-modal="category" required>
                <option value="">--Select a Category--</option>
                <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Blog Description</label>
            <textarea ui-tinymce="editor_config" name="content" id="tinymce" ng-model="description"></textarea>
        </div>
        <div class="form-group">
            <label>Blog Tags</label>
            <tags-input ng-model="tags" name="tags" max-tags="5"></tags-input>
            <input type="hidden" name="tags" value="" id="tags"/>
        </div>
        <div class="form-group">
            <label>Blog Summary</label>
            <textarea class="form-control" rows="4" name="meta_description" required="required" minlength="150"
                      maxlength="250"></textarea>
        </div>
        <div class="form-group">
            <label>Blog status</label>
            <select class="form-control" name="status">
                <option value="1">Publish</option>
                <option value="2">Pending</option>
            </select>
        </div>
        <div class="input-group">
             <span class="input-group-btn">
                 <a id="lfm" style="height:34px;" data-input="thumbnail" data-preview="holder" class="btn btn-primary">
                   <i class="fa fa-picture-o"></i> Choose
                 </a>
            </span>
            <input id="thumbnail" class="form-control" type="text" name="filepath">
        </div>
        <img id="holder" style="margin-top:15px;max-height:100px;"></br>
        <div class="form-group mt-10">
            <input type="submit" value="save" class="btn btn-success">
        </div>

    </form>
</div>
<script>
    $('#lfm').filemanager('file');
</script>